<%- include ('partials/header') %>




    <h2 id="blog" class="text">3D Printing</h2>
    <br>
    <input  type="button" class="btn btn-lg btn-primary" onclick="location.href='/blog';" value="Back To Blog Posts" /><br><br>
    <br>
                <p>
                    Rapid prototyping is one of the terms for 3D printing, as it is generally used to make a prototype and it can be created quickly.
                     Typically when a prototype would be manufactured you would use traditional forms of manufacturing which take more time and skill. 
                </p>
                <br>
                <p>
                    Typical manufacturing processes use a solid piece of metal or wood and subtracts material to get the desired shape.
                     Some of these processes can be used on a lathe or milling machine. 3D printing is what is known as additive manufacturing 
                     because you are adding the material layer by layer to get the desired shape. This allows for very complicated parts to be 
                     created in a matter of minutes depending on the size of the part, compared to hours and days of traditional manufacturing. 
                    </p>
                <br>
                <p>
                    These prototypes can be used in many different areas, such as presentation of your new device and with a scaled prototype,
                     or if a client wants to try out the use of the part first before mass producing it. There are many reasons for making prototypes.
                      In an industrial application it would be used as a prototype and when making many of them they would use a different form of
                       manufacturing.
                  
                </p>
                <br>
                <p>
                    I have used a 3D printer in University for different projects that had complex parts in it. One project was to make a
                     hydroelectric turbine with a 3D printed turbine. Since a turbine definitely has a unique shape it makes it a lot easier
                      to 3D print it than traditional manufacturing. On the part we were making we had to print construction material because
                       there was a bit of a dome shape. If the shape being printed cannot support itself when it is hot then the use of construction
                        material is used. This is where you design and print in thin layers to support the structure then can be removed after it is
                         printed.   
                    </p>
                <br>
                <p>
                    3D printers are getting more affordable these days for home use. You can buy a decent one for $500CAD.
                     Using the 3D printer requires some solid modelling though. A great program for this is an open source software
                      called On Shape. It is in the browser so you do not need to install anything. It is free to use each file is open
                       for anyone to see. If you want to have private use of the program to create private projects you can pay an affordable
                        subscription. There is a bit of a learning curve to using the software but there are a lot of good sources on YouTube.
    
                </p>
                <br>
                <p>
                    There have been many different advancements in additive manufacturing in the last few years.
                     There is always something new coming out. I have seen large scale 3D printing using concrete as a material to print a structure.
                      This would be a great use one day to build something fast like a temporary hospital. There are always new discoveries and
                       advancements in the science world that are worth keeping an eye out for. 
                </p>
    <br>
                <img width="300" src="../images/printing.jpg">
                
                <br>
                <br>
                <br>
                <br>
            


<%- include ('partials/footer') %>