<%- include ("partials/header") %>

<style>


	#image{

		border: 5px black solid;
		 border-radius: 5px;
		
	}
	.post {
	text-align: left;
	font-family: Georgia;
	color: black;

}
</style>



    <h2 id="blog" class="text">Blog</h2>
    
    <br>
<!-- <input type="button" class="btn btn-lg btn-primary" onclick="location.href='/blog/3d.html';" value="3D Printing" /><br><br> -->
<a href="/3d"><h2 class="post">3D Printing</h2></a>
<a href="/3d"><img id="image" src="../images/printing.jpg" width="300px" ></a> 
<br>
<br>
<br>
<br> 


<a href="/finance"><h2 class="post">Living Below Your Means</h2></a>

<a href="/finance"><img id="image" src="../images/books.jpg" width="300px"></a>
<br>
<br>
<br>
<br>
<br>
<a href="/marrakech"><h2 class="post">Merrakech</h2></a>
<a href="/marrakech"><img id="image" src="../images/marrakech2.jpg" width="300px"></a>

<br>
<br>
<br>
<br>
<br>
<br>
<a href="/smallposts"><h2 class="post">Collection of Small Posts</h2></a>
<a href="/smallposts"><img id="image" src="../images/Cologne.jpg" width="300px"></a>
<br>
<br>
<br>
<br>


<br>
<br>
<br>
<br>
