<%- include ('partials/header') %>


<style>
    #email{
        padding:15px;
        background-color:rgb(35, 71, 150);
        border-radius: 10px;
        color: white;
        text-decoration: none;
    }
    #email:hover {
        background-color:rgb(28, 56, 116);
        color: white;
        text-decoration: none;
    }
    #name{
        text-decoration: underline;
    }
    
    </style>

<h1 class="text">Contact Page</h1>
<h1 id="name" class="text">Cory Hisey</h1>

<h3 class="text"><a id="email" href="mailto: coryh@coryhighsea.com">coryh@coryhighsea.com</a></h3>
<br>


<h3 class="text">


<input type="button" class="btn btn-lg btn-danger" onclick="location.href='https://www.instagram.com/coryhighsea/';" value="Instagram" /><br><br>
<input type="button" class="btn btn-lg btn-success" onclick="location.href='https://github.com/coryhighsea';" value="GitHub" /><br><br>
<input type="button" class="btn btn-lg btn-primary" onclick="location.href='https://www.linkedin.com/in/cory-hisey-730a8a59/';" value="Linkedin" />

</h3>

<%- include ('partials/header') %>