<%- include ('partials/header') %>




    <h2 id="blog" class="text">Living Below Your Means</h2>
    <br>
    <input  type="button" class="btn btn-lg btn-primary" onclick="location.href='/blog';" value="Back To Blog Posts" /><br><br>
    <br>
                <p>
                    One of the first books I read for pleasure that wasn’t an assignment in school was the Wealthy Barber. 
                    My mom bought it for my older brother for Christmas. I decided to read it before she gifted it to him. 
                    Once I started I couldn’t put it down, and finished it in a couple of days. The book is written as a story so it makes it 
                    enjoyable and easy to read. 
                </p>
                <br>
                <p>
                    The main concepts in the book talk about starting an investment journey early. The best time to plant a tree is 20 years ago and
                     the second best time to plant a tree is today. So the earliest that you can start investing the better. The book also mentions
                      the magic of compound interest which definitely helps to increase the bonus of starting early. 
                    </p>
                <br>
                <p>
                    The route that I went and that I would suggest is investing into index funds. The concept that really caught my eye and I use is
                     that if you buy shares every month you basically cannot lose. You can start out by buying $100 worth every month and can buy a 
                     higher amount when your income is greater. The concept is that if you keep buying every month even when the market goes down you 
                     end up buying more shares at the lower price. Another suggestion is to use a savings account, putting money away every month that 
                     you can’t tough. Both ways result in increased wealth, although compound interest works much better in the index funds than a 
                     savings account. 
                </p>
                <br>
                <p>
                    Some people want to get into real estate as an investment. There are a few points to discuss with this. 
                    If someone wants to get into rental properties and own a few places that they can rent out to pay the expenses that may be a 
                    great idea. It is only great if the down payments aren’t borrowed cash though. When someone decides to buy a home for an 
                    investment and to live in it then it isn’t as useful as an investment. We all need to live somewhere. It is a basic need that 
                    we have and hopefully can afford it. If you know you are going to be in one spot for 20 years then it would definitely make 
                    sense especially if you have a family. But if a mid 20s person is looking for a new place to live and decides to buy property 
                    because it’s a good investment and decides to live there, it may not be the best investment. 
                    </p>
                <br>
                <p>
                    The problem is hidden costs of owning a house. The property tax will be there forever. The maintenance cost of owning a house is 
                    more than you think. When you rent you do not have to worry about the maintenance costs. You can just call the landlord and they 
                    will fix it. I would always hear that renting is a waste of money and you are throwing it away every month. Or paying someone 
                    else’s mortgage. But I always thought of it as a service that I pay. I need a place to live so I pay rent every month and for 
                    more of an affordable price than owning. Especially when living with roommates these costs can be fairly affordable. 
                </p>
                <br>
                <p>
                    You wouldn’t say that you are wasting your money buying fuel for your vehicle or buying groceries to eat. 
                    And those things are literally getting burned away but it is just a basic need and service. I think if I can live in a 
                    protected safe shelter for a reasonable amount of money each month that is a good deal. The commitment and responsibility 
                    of owning your home is much higher than when renting. 
                </p>
                <br>
                <p>
                    Saving money is also another good point. Not just with mutual funds but with saving cash too. It is important to learn how to 
                    budget and not over spend.  Don’t buy stupid crap and instead save your money. Don’t finance a car you cannot afford. 
                    I would say put 10% of your monthly income into investments and save 20-30% of your income in cash. There are a few banks out 
                    there that have about 2% interest. This is a good spot to put your savings in since it will earn a little interest with no risk. 
                    The key here is to live below your means. Use a vehicle that you can afford to buy and is affordable on fuel. Rent a place with 
                    roommates instead of living alone. Don’t buy clothes every month. Sticking to a budget each month is a great way to ensure having 
                    extra money to save or invest.
    
                </p>
                <br>
                <br>
                <br>
    
                <img  width="300" src="../images/books.jpg">
                
                <br>
                <br>
                <br>
                <br>
           
<%- include ('partials/footer') %>