<%- include ("partials/header") %>
<style>

#image{
	width: 300px;
	border: 4px solid black;
}
</style>

<div class="container">	
    <div class="jumbotron">
<header>
    <h1 class="text header">Cory High Sea</h1>
    <br/>
    <h2 class="text header">The core of man's spirit comes from new experiences</h2>
    <hr>
</header>
</div>




<p class="text"> 
I lived in Germany for 8 months and visited a few other countries while I lived there. I have some blog posts and photos from these travels.
I also have blog posts on healthy living or other parts of my life. I plan on to continue to travel as much as I can.
</p>
<br>
<p class="text">
On the blog post page you can find a few small blogs as I mentioned earlier. There are pictures in this section as well. The next page is a Cities I've Visited page
Where I used leaflet.js library to create an interactive map where I put pins of what cities I have visited. On the next
page I have created a photo Gallery. Finally there is a contact page where you can find links to my social media and my email.
</p>


<hr>

<div >
<img id="image" src="images/firstdayontrip.jpg"/>

</div>
</div>
<br>


</div>
    



<div class="container">
</div>



<%- include ("partials/footer") %>