<%- include ('partials/header') %>
<div class="container">
<h2 id="blog" class="text">Marrakech</h2>
<br>
<input  type="button" class="btn btn-lg btn-primary" onclick="location.href='/blog';" value="Back To Blog Posts" /><br><br>
<br>
			<p>
				I first arrived in Marrakech after dark around 7:00pm. I didn't know what to expect in this new land. I thought I would be able to take the city bus to the 
				city center. When I exited the airport there were guys asking if I wanted a taxi but I was determined to try and take the bus. But Once I realized it was too late and difficult I 
				decided to take a taxi. It was 20 Euros which isn't too bad. And boy was I happy to take a taxi that went straight to my hostel. The traffic was quite hectic to get there. 
				What you might imagine in a middle eastern country. Once I get to the hostel it was down this small alley way to get there, definitely something new. The hostel staff greeted me 
				nicely and with a warm welcome. After I got settled in I went for a walk. And what I saw was definitely a new experience. Close and tight markets along tight streets.
				People selling fruit, nuts, leathers and raw meat. There were live chickens in the street and then getting butchered in the back to your order. The smells and sounds were something I will never forget.
				I found a decent restaurant to get some dinner and went back to the hostel and didn't do much that night.
            </p>
            <br>
			<p>
				I was there for three nights so I had two full days. The first day I wanted to find the main markets because the markets I saw the first night was just a small part of the actual Medina. 
				The Medina is the city center in these walls that is sort of the old town. Has all the souk markets. But the first morning trying to find these I got quite lost and ended up not in the right spot.
				I finally found my bearings I got back to the hostel to regroup. A little later I went out on another walk. This time I found the classic small souk markets. They were super cool actually.
				People selling little nick nacks or different leathers. Lots of different colors and sites. This was very cool to see. Once I thought oh I will make my way back to the hostel
				I was quite deep into the markets so it took a bit to navigate back to the hostel. I should mention something at this point. People in the Medina in Marrakech are always trying to rip you off.
				You will be walking down a small street and someone will say don't go that way, and the the trick is you will say okay and they will show you the 'way' and by the time you get there they will demand money.
				It is a classic scam but just have to keep your course and not listen to them. This made me feel quite uncomfortable at first. The first few times I kept saying no, no thanks. But they just kept responding.
				After a few times though I realized just to ignore them and they don't usually follow up a second time. Just keep walking and pretend you didn't hear them, works pretty well. 
            </p>
            <br>
			<p>
				After a few ventures out I finally found the main square, which I heard about from other travellers but didn't find. This square is definitely an interesting site to see.
				People selling different products. Fruit and nut stands. People playing drums. There were cobras on the street and people are snake charming. Guys with monkeys walking around for people to 
				take pictures with. And definitely people trying to sell you stuff you dont want or need. But this is the main tourist square and I went here a few times and I would definitely recommend.
				Good place to buy some nuts or fresh fruit. There were these two restaurants that are three stories of outdoor patio that were a pretty cool spot to over look the square. I tried one out but it was
				too expensive for my tastes. 
            </p>
            <br>
			<p>
				There are plenty of day and over night tours to the desert or to the coast that would probably be good. I didn't do any of these because I was only there for a couple days.
				But if you had more time in Morocco this is definitely a good option to check out. There is a coastal city called Essaouira that I heard is worth checking out. Can do a day trip from 
				Marrakech or do a couple days there. There is a lot to see and visit in Morocco but definitely have to keep your wits about you and be careful. 
			</p>
			<br>
			<img width="300" src="../images/marrakech.jpg">
			<img width="300" src="../images/marrakech2.jpg">

            <img width="300" src="../images/marrakech4.jpg">
            <br>
            <br>
            <br>
            <br>
        </div>
<%- include ('partials/footer') %>