<%- include ('partials/header') %>
<style>

    img {
        filter: grayscale(100%);
    }
    
    img:hover {
        filter: grayscale(0%);
        transition: 0.5s;
    
    }
    .title{
        background-color: rgb(34, 23, 131);
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        width: 50%;
        margin: auto;
        color: white;
    }
    .title:hover {
        transform: scale(1.2);
        transition-property: transform;
        transition-duration: .5s;
    
    }
    
    
    
    </style>
<h2 class="text title">Photo Gallery</h2>
<p class="text">These are some of the photos I have taken on my travels</p>
    <hr/>
    <h3 class="text title">Kelowna, Canada</h3>
    <h5 class="text">February 2020</h5>
    <br>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                <img src="images/boardwalk1.JPG">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                    <img src="images/boardwalk2.JPG">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                        <div class="thumbnail">
                        <img src="images/skaterink.JPG">
                        </div>
        
    </div>

                <div class="col-lg-4 col-sm-6">
                        <div class="thumbnail">
                        <img src="images/bna1.JPG">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                            <div class="thumbnail">
                            <img src="images/bna2.JPG">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                                <div class="thumbnail">
                                <img src="images/bna3.JPG">
                                </div>
                
            </div>
            </div>
            <hr>
    <h3 class="text title">London, England</h3>
            <h5 class="text">January 2020</h5>
            <br>
                <div class="row">

                        <div class="col-lg-4 col-sm-6">
                                <div class="thumbnail">
                                <img src="images/london1.jpg">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                    <div class="thumbnail">
                                    <img src="images/london2.jpg">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                        <div class="thumbnail">
                                        <img src="images/london3.jpg">
                                        </div>
                        
                    </div>
                    </div>
                    <hr>
    <h3 class="text title">Paris, France</h3>
            <h5 class="text">January 2020</h5>
            <br>
                <div class="row">

                        <div class="col-lg-4 col-sm-6">
                                <div class="thumbnail">
                                <img src="images/paris6.jpg">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                    <div class="thumbnail">
                                    <img src="images/paris3.jpg">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                        <div class="thumbnail">
                                        <img src="images/paris5.jpg">
                                        </div>
                        
                    </div>
                    </div>
                    <hr>
    <h3 class="text title">Marrakech, Morocco</h3>
            <h5 class="text">January 2020</h5>
            <br>
                <div class="row">

                        <div class="col-lg-4 col-sm-6">
                                <div class="thumbnail">
                                <img src="images/marrakech.jpg">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                    <div class="thumbnail">
                                    <img src="images/marrakech2.jpg">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                        <div class="thumbnail">
                                        <img src="images/marrakech4.jpg">
                                        </div>
                        
                    </div>
                    </div>
                    <hr>

    <h3 class="text title">Los Angeles, USA</h3>
            <h5 class="text">January 2020</h5>
            <br>
                <div class="row">

                        <div class="col-lg-4 col-sm-6">
                                <div class="thumbnail">
                                <img src="images/la1.jpg">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                    <div class="thumbnail">
                                    <img src="images/venice.jpg">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                        <div class="thumbnail">
                                        <img src="images/la2.jpg">
                                        </div>
                        
                    </div>
                    </div>
                    <hr/>

    <h3 class="text title">Warsaw, Poland</h3>
    <h5 class="text">May 2019</h5>

    <br>
    <div class="row">
            <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                    <img src="images/warsar1.jpg">
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                        <div class="thumbnail">
                        <img src="images/warsaw2.jpg">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                            <div class="thumbnail">
                            <img src="images/warsaw3.jpg">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                                <div class="thumbnail">
                                <img src="images/warsaw4.jpg">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                    <div class="thumbnail">
                                    <img src="images/warsaw5.jpg">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                        <div class="thumbnail">
                                        <img src="images/warsaw6.jpg">
                                        </div>
                                    </div>
</div>
        <hr/>
        <h3 class="text title">Munich, Germany</h3>
        <h5 class="text">May 2019</h5>

    <br>
        <div class="row">

                <div class="col-lg-4 col-sm-6">
                        <div class="thumbnail">
                        <img src="images/munich1.jpg">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                            <div class="thumbnail">
                            <img src="images/munich2.jpg">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                                <div class="thumbnail">
                                <img src="images/munich3.jpg">
                                </div>
                
            </div>
            </div>
            <hr>
            <h3 class="text title">Barcelona, Spain</h3>
            <h5 class="text">March 2019</h5>
            <br>

            <div class="row">

                    <div class="col-lg-4 col-sm-6">
                            <div class="thumbnail">
                            <img src="images/barcelona2.jpg">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                                <div class="thumbnail">
                                <img src="images/barcelona3.jpg">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                    <div class="thumbnail">
                                    <img src="images/barcelona4.jpg">
                                    </div>
                                    </div>
                            <div class="col-lg-4 col-sm-6">
                                            <div class="thumbnail">
                                            <img src="images/barcelona5.jpg">
                                            </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                                <div class="thumbnail">
                                                <img src="images/barcelona6.jpg">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6">
                                                    <div class="thumbnail">
                                                    <img src="images/barcelona7.jpg">
                                                    </div>
                                            </div>
                                        
            
                
            
                
            </div>
<hr>
            <h3 class="text title">Prague, Czech Republic</h3>
            <h5 class="text">September 2018</h5>
            <br>
                <div class="row">

                        <div class="col-lg-4 col-sm-6">
                                <div class="thumbnail">
                                <img src="images/prague1.jpg">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                    <div class="thumbnail">
                                    <img src="images/prague2.jpg">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                        <div class="thumbnail">
                                        <img src="images/prague3.jpg">
                                        </div>
                        
                    </div>

<%- include ('partials/footer') %>
