<%- include ('partials/header') %>

<h2 id="blog" class="text">Collection of Small Posts</h2>
<br>
<input  type="button" class="btn btn-lg btn-primary" onclick="location.href='/blog';" value="Back To Blog Posts" /><br><br>
<br>
<hr>
			
            <h2 class="text">Exercise for a Healthy Lifestyle</h2>
			<p>
				One of the best things you can do for yourself is to exercise. This seems to be pretty common knowledge, but not always.
				Resistance training is a great way to gain the exercise we desperately need. 3-4 times a week and about 30-40 minutes is a enough.
				Of course people who are really into it will go for atleast and hour 5-6 times a week, which is great. But I would say the minimum
				is half an hour 3 times a week. Another favorite form of exercise is walking. A great book that talks about it is called Born to Walk
				by Dan Rubinstein. And it's a great way to stay in shape. And he also talks about spiritual pilgrimages. I would definitely recommend it.
				But again it is super important to prevent deseases and sickness and to stay strong as you age.
			</p>
			<p>
				The type of exercise I used to do was powerlifting, where you focus on three main lifts. Squat, bench and deadlift. 
				The main goal is to do a one rep max of these three lifts. Of course during training there is a lot of volume to build strength.
				In the picture below I just finished a powerlifting competition, which was a lot of fun. I had to give up that level of commitment
				when I moved to Europe. Lately I just do walking and enough resistance training for maintenance.
			</p>
			<br>
			<img  width="300" src="../images/powerlifting.jpg"/>

			<hr>
			<h2 class="text">New Chapter</h2>

			<p>
				I have recently accepted a job offer with Emco Waterworks in Kelowna as Project Manager. It is a bit of a change of plans.
				My original plans after this work term was to go back to Europe and travel again for atleast a few months anyways.
				But I found this opportunity through a friend and just happened naturally. I am excited about it for sure. I love being in Kelowna.
				Can definitely live the dream and the lifestyle there. The job will be good because it is a chance to use my degree and further my career.
				It is more of a sales industry since they're a distributor so that goes towards my goals of technical sales as well. And the group of guys
				there is awesome. So it should be a great experience all in all. 
			</p>
			<p>
				Since I already purchased a one way ticket to Madrid I am able to start a bit after this and I will do two weeks in Eruope then can just
				book a one way ticket return. I am still pursing my passion for programming and living a location independent lifestlye. I will continue to learn
				and create projects as well as update my website on the side. To eventually gain clients to help them with their projects and passions. 
				This will be a great stepping stone towards my goal.
			</p>
<br>
<img  width="300" src="../images/kelowna.jpg"/>
<hr>

			<h2 class="text">Fasting To Live Longer</h2>

			<p>
				There are many benefits to fasting. Typically the term fasting might scare you away you might think starvation or some
				other negative term. But fasting is a healthy and natural process. There are two states our bodies are in, fasting and fed.
				With our modern diets we are constantly in the fed state. The problem with this is that in the fasting state it gives our digestive 
				system a break and lets it catch up. If you try a fasting cycle you might feel yourself be lighter and not bloated or full, it 
				is definitely a good feeling. Another great benefit of fasting is of course weight loss, it is considered to be the only effective
				method to lose weight. While everyone knows diets don't tend to typically work this can be a great alternative that actually works.
				The reason it works so well leads into the next point in that fasting will decrease your blood sugar which it suppresses appetite and 
				of course help to burn fat. The main reason it is good for weight loss is you will naturally eat less. If you are eating
				only for half the day and a having fasting sessions in the morning there will be a less calorie intake. One of the main benefits I personally find is that fasting gives you a lot of energy. Since your body
				isn't using energy to digest it will give you an energy boost.
			</p>
			<p>
				There are many different fasting routines people chose to take part in. My favorite one is to skip breakfast and eat lunch
				at noon or later then can eat whenever all day and then not eat past 8:00 pm. This gives your body a 16 hour fast which will provide
				the basic benefits. There is another one that is called 5:2 which is 2 days of the week you fast for 24 hours and on the other
				5 days of the week you can eat how you would like. If skipping breakfast is natural you can do that on those days too. But the 
				point of the 24 hour fast is that some of the benefits will come after about 20 hours of fasting. After around 20 hours of fasting
				the body does something call autophagy which is a process of cleaning out the old bad cells and repairing them. And this autophagy
				can reduce the risk of disease and lead to a longer healthier life.
			</p>
			<hr>
			<img width="300" src="../images/fasting.jpg"/>
<hr>
	<h2 class="text">How to Win Friends and Influence People</h2>
	
	<!-- <p>If you have not heard of this book I would suggest to look into it. It was published in 1936 and was written by Dale Carnegie.</p>
	<p> The basic concept of the book is to allow other people to talk about themselves. Ask them questions about things they are interested. This will allow for a good flow of conversation. I also like to ask challening questions to new people I meet. For example, what is your dream job? Or what are your goals in the next few years? I find this really engages people.</p>
	<p> I say quite often, that my favorite part of traveling is meeting people from all over the world. Being able to have meaningful conversations with them makes it that much better of an experience.</p> -->
		<p>If you have been to party or gathering you might find yourself in a situation where you are meeting new people. Sometimes
			it is easy to interact with these new friends, but sometimes it isn't so easy. This book shows you how to become a great
			conversationalist. It goes through examples from history to show you how affective this method really is. It was published
			in 1936 and written by Dale Carnegie but don't worry it is still in print so you can still purchase a copy. 
		</p>
		<p>If you are in sales this book is a great resource. Although if your not in a sales role this book will help in every
			day to day situation. Haven't you always wanted people to like you and enjoy your company, this will definitely aid in that (not that you're not already
			awesome).
		</p>
	<br>
	
	<h5 style= "font-style: italic">Some of the best friends you will ever meet you will never see again</h5>
	<br>
	<img width="300"src="../images/friends.jpg"/>
	<hr>
	<h2 class="text">Travelling Europe</h2>
		<!-- <p>When I arrived in the fall of 2018 I really did not have a plan just a couple bags and my German passport. I had two nights booked in Frankfurt to get on my feet. I quickly met new friends at the hostel and swapped stories and plans. I decided to try and check out most of the German cities. So my next stop was Cologne. Then I would go to Hamburg, Berlin. I would do a bit of a loop around the country and see where I end up in a few weeks.</p>
		<p> I arrived in Cologne and it did not take time for me to feel at home. I loved Cologne and the atmosphere there. I ended up living there after my initial travels. After Cologne I did Hamburg, Berlin, Dresden, Prague, Nuremberg then back to Cologne. After I settled in with a place and a job, it didn't take long to make good friends with the locals. </p>
		<p> While I was living in Cologne I was able to do a few trips out of the country. I went back to Berlin for a few days to visit some friends from Canada that were over here. I went to Amsterdam but was only for 2 nights so that wasn't enough time. Amsterdam is an amazing place though, highly recommend it. The next one I went to was Brussels. I really liked Brussels, lots of tasty beer. I even did a beer tour. It was my style of place with lots of culture and history to go with it. My favorite trip I did in Europe was to Barcelona. That was amazing. Amazing weather, amazing architecture and I met amazing people. I say over and over again that the people you meet really make the trip and that was true for this one.</p><p> After I decided to go to Canada for a few months I made sure I squeezed in a couple more trips before I left. A few months prior I made plans to visit Warsaw, Poland with some of my friends in Cologne. I was still trying to decide when I would fly back to Canada. It ended up working out to flight out of Frankfurt the morning after I got back to Cologne from Warsaw. Before This trip I had a few days so I had to take advantage. I heard about a Science museum in Munich I really wanted to see. so I made a last minute trip to Munich, I did the hostel thing again of course and met tons of people. It was really nice having one more backpacking experience before I headed out. I did the museum and it was amazing.</p>
		<hr/> -->

		<p>If you are thinking of either travelling to Europe or moving to Europe this article has you covered. Maybe you're
			thinking of doing a quick trip (or a long one) before making the actual leap. If you are worried about quitting your job to
			make the jump, just think it is only a job. There are lots of jobs out there, and I bet you dont enjoy it that much anyways.
			Unless you're selling rainbows to unicorns it can probably wait. I know you're thinking what about the money? It is expensive to travel.
			Well you are right about that, but there are ways to travel on a budget. There are a lot of working holiday visas available for 
			Canadians. To Australia, New Zealand and to Europe as well. You will be able to work a random job while traveling and living the dream.
			Another method that I haven't done but I would suggest to you is work away. You work typically 25 hours a week for a hostel or something. 
			And they provide room and board for you. Good way to save the doubloons on living cost, then your only expense is beer.
		</p>
		<p>If you are thinking of doing a trip there, that is a great idea too. There is tons to see in Europe. If you stick with hostels
			you will save money versus paying for a hotel. Usually the hostels have kitchens too so you have cook your own food. Another
			thing is travel is cheap in Europe. Flights are dirt cheap, trains aren't too bad but they can be pretty pricey. I would suggest
			a service called Flixbus it is super cheap and fairly comfortable, they even have wifi!
		</p>
		<img width="300"src="../images/cologne2.jpg"/>
		<img width="300" src="../images/Barcelona1.jpg"/>

		<hr/>
		<h2 class="text">Professional Life</h2>
		<p>In the summer of 2019 I was working as a field supervisor in Grande Prairie Alberta. I worked in the Municipal Engineering 
			department. One of the major projects that goes on in Grande Prairie in the summer is road rehab. The city sets out budgets for different phases.
	There is an overlay where they just mill the top layer of asphalt then repave it. This is not a long term fix but it is cheaper
and quicker. The more extensive rehab phase is the entire road and sidewalk rehab. They dig out 600mm below the existing road
and establish a new gravel base with compaction. Once the base is all ready they can do the concrete work for the sidewalk and then pave.
The finished product will last much longer. One of the phases I worked on is the sidewalk program where 
only the sidewalk is excavated with new base and new concrete sidewalk. This is great but if the road needs to be replaced too
it leaves not the best product. </p>
<p>Another big project I have spent a lot of time on is a water line to a new development. There are three phases of this 
	project, two are just getting water out to the county and the third phase is the water in the development with services.
	We have been doing months of water testing on these sites. First there needs to be a pressure test. The pressure test allows
	to measure how much loss is in the system and there is only a certain allowable loss. This loss could be from expansion of the 
	pipe or if there is an actual leak. After this super Chlorinated water gets injected to the system. We need to test that the water
	has enough chlorine in each of the test points to kill all the bacteria. After the superchlorinated water has been establish 
	the system needs to be flushed to get rid of this water. The next test is a low end chlorine test to make sure the water 
	doesn't have too much chlorine so it is save to drink. The final tests are turbidity and Bacterial test. Once all of these
	tests have passed I can make up a report of the tests and submit it so the water system can get commisioned.</p>
</p>
		<!-- <p>My previous job I worked at a manufacturing facility doing sales. Mainly sales in Hydraulics, Industrial equipment and drilling tooling. It had some technical aspects to it. I would draft up hydraulic schematics for different production projects and sales projects. I attended a two day hands one hydraulic course in Red Deer Alberta. I definitely learned a lot. I am hoping to continue in this industry as well.</p> -->
		
		<br>
		<!-- <img width="300" src="mpp.jpg"/> -->
		<img width="300" src="../images/office.jpg"/>
		<img width="300" src="../images/driving_in_field.jpg"/>
		<hr/>
		<h2 class="text">Less is More</h2>
		<!-- <p>When I decided to move to Germany I decided to take on a minimalist lifestyle. I donated and sold everything I owned. I sold my guns and guitars which I had for awhile so it was a bit tough. At the same time it was liberating. I sold my truck all my sports gear. I donated a lot of clothes, probably 5 garbage bags worth of clothes. I had two checked bags a 50 litre backpack and a duffle bag plus the small carry on bag. Now looking back on it I wish I brought even less. When I settled down in an apartment I had to acquire a few things. Proper towels, not just the travel microfibre towel. Some books along with more clothes. But for the most part I was able to live fine for 8 months off less. </p>

		<p>When I was packing for Canada I would have one checked bag and one carry on so I had to donate clothes again. I got rid of clothes that I brought to Germany but never wore. I will probably have to purchase some more work clothes now that I am back in Canada. There is a bit of a cycle of donating and re-buying clothes. I think it is okay to buy used clothes and donate it in the bins. Seems like a sustainable lifestlye.</p>
		<p>What I have learned from this is that less is more. Living off less gives you so much more appreciation for life. Having less clutter in your life is good for mental and physical health. Being able to focus on what matters and what you are passionate about. Plus it makes is a lot easier to travel and move when you don't have a lot of stuff. There is this mentality that we need to buy more products and more stuff. Work more to spend more to work more just is not a cycle I want to find myself in. If we can live off less then we can work less. Which I think is the way of the future.</p> -->

		<p>Have you heard of minimalism before? There has been some new exciting documentaries on Netflix about it. I personally 
			watched this flick and got excited. The idea of having less clutter and less stress seems great right? Why can't we all do this.
			If you are like I used to be I bet you have more things than you could count in a day. There is a challenge that is called 333. It is to
			cut your wardrobe down to 33 items for less than 3 months. You can read the fine print yourself but socks and underware don't count
			but shoes do. Anyways it is an interesting challenge just allows you to be more creative with your outfit. 

		</p>
		<p>There is a lot other aspects to the idea of course. From furniture to books to just general belowings. One of the best
			benefits to travelling or giving up the hustle and bustle of routine is to take on a minimalist lifestyle. So I challenge you 
			to give up some belowings, donate clothes and generally buy less.
		</p>
	<br/>
	<img  width="300" src="../images/packs.jpg"/>
	<hr>
	<h2 class="text">Amsterdam</h2>
	
	
	<p>If you have been to Europe or you're planning on going to Europe I am sure you have been to Amsterdam or planning on going.
		It is probably one of the most popular cities to visit in Europe. It is a beautiful city with lots of sites to see so you are right in thinking to visit.
		You are going to want to do a Free walking tour. The guide will show you around the amazing canals while sharing stories and history of the city.
		There are boat tours you can do that cruise around the canals. There is also a redlight district tour that my guide suggested. I personally
		did not do this tour but I would still suggest it to you. It shows the actual history of the culture and its importance.
	</p>
	<!-- <p>I was in Amsterdam for only two nights but it was definitely a good time. It seems to be most peoples 
		go to spot in Europe which I agree. I was there in the winter so it ended up snowing on my last day there, which I dont
		think it snows there often. I will return to this city and most likely have warmer weather. I don't partake in the 
		Mary Jane but I can avoid it enough. I heard some of the weed candies in the kiosks are fake so beware of that
		just a tourst trap.
	</p>
	
	<p>I did a free walking tour in Amsterdam, it is always my go to tourst thing to do in a city. You donate on what
		you think the tour is worth and they usually do a pretty good job. The one I did in Amsterdam was quite good. I am definitely glad 
		I ended up doing one since I was only there for a short time.
	</p> -->
	<hr>
	<img width="300" src="../images/amsterdam (3).jpg"/>
	<img width="300" src="../images/amsterdam (1).jpg"/>
	<img width="300" src="../images/amsterdam (2).jpg"/>

    <br>
    
    <%- include('partials/footer') %>